@page "/"
@using Blazor.Core.Domain.Dto
@using Blazor.Server.Components.Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<Popup Titulo="Popup" @bind-Show="showPopup">
    <AutorComponent />
</Popup>

<p>
    Situação do Popup: @(showPopup ? "Visivel" : "Oculto")
</p>

<button @onclick="() => showPopup = true">
    Exibir
</button>

@code {
    private bool showPopup = true;
}