@page "/"
@inject NavigationManager Nav
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<button type="button" class="btn btn-link" @onclick='() => Nav.NavigateTo("/livros")'>Livros</button>

<hr />

@code {
    
}