@page "/"
@using Blazor.Server.Components.Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<SelectComponent @bind-ItemSelected="autor" ItemList="valueList" />

<p>Id: @(autor?.Id ?? 0)</p>
<p>Autor: @(autor?.Name ?? "Autor Desconhecido")</p>

@code {
    private SelectComponent.Item? autor;

    private List<SelectComponent.Item> valueList = [];

    protected override void OnInitialized()
    {
        base.OnInitialized();
        valueList = [
            new(1, "Ana"),
            new(2, "Beto"),
            new(3, "Carla"),
            new(4, "Denis")
        ];
    }
}