@using Blazor.Core.Domain.Dto
<h3>Livro</h3>

@code {

    [Parameter]
    public LivroDto Livro { get; set; } = null!;

    [Parameter]
    public EventCallback<LivroDto> LivroChanged { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Livro ??= new();
    }
}