@using Blazor.Server.Models
@using System.Diagnostics.CodeAnalysis
@implements IDisposable
@inherits InputBase<SelectItemModel?>
@inject ILogger<SelectComponent> Logger

<div class="input-group">
    <input type="text" class="form-control @CssClass" disabled value="@item.Name" />
    <button type="button" class="btn btn-outline-secondary" @onclick="OpenPopup">
        Selecionar
    </button>
</div>

<Popup @bind-Show="show">
    <div class="input-group">
        <input type="text" class="form-control" @bind="name" @bind:event="oninput" @bind:after="HandleInputDebounce" />
        <button type="button" class="btn btn-outline-secondary" @onclick="ClearName">
            x
        </button>
    </div>
    <div class="list-group mt-2 overflow-auto" style="height: 165px">
        @foreach (var item in filteredItens)
        {
            <button type="button" class="list-group-item list-group-item-action" @onclick="() => HandleSelect(item)">
                @item.Name
            </button>
        }
    </div>
</Popup>

@code {
    [Parameter] public List<SelectItemModel> Itens { get; set; } = [];
    private List<SelectItemModel> filteredItens = [];

    private SelectItemModel item = new(0, string.Empty);
    private string name = string.Empty;
    private ValidationMessageStore? messageStore;
    private bool show;

    protected override bool TryParseValueFromString(
            string? value,
            [MaybeNullWhen(false)] out SelectItemModel result,
            [NotNullWhen(false)] out string validationErrorMessage)
    {
        result = CurrentValue!;
        validationErrorMessage = string.Empty;
        return true;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (CurrentValue is not null)
        {
            item = new(CurrentValue.Id, CurrentValue.Name);
        }
    }

    private CancellationTokenSource? debCts;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        HandleInput(string.Empty);
    }



    private async Task HandleInputDebounce()
    {
        DebCtsDispose();
        debCts = new();
        var token = debCts.Token;
        try
        {
            await Task.Delay(250, token);
            HandleInput(name);
        }
        catch (TaskCanceledException)
        {
        }
    }

    private void HandleInput(string name)
    {
        var filter = name.Trim();
        if (string.IsNullOrWhiteSpace(filter))
        {
            filteredItens.Clear();
            filteredItens.AddRange(Itens);
            return;
        }

        var filtered = Itens.Where(i => i.Name.Contains(filter, StringComparison.OrdinalIgnoreCase));
        filteredItens.Clear();
        if (filtered.Any())
        {
            filteredItens.AddRange(filtered);
        }
        else
        {
            filteredItens.Add(new(0, filter));
        }
    }

    private void ClearName()
    {
        name = string.Empty;
        HandleInput(name);
        DebCtsDispose();
    }

    private async Task HandleSelect(SelectItemModel item)
    {
        messageStore ??= new(EditContext);
        messageStore.Clear(FieldIdentifier);

        show = false;
        name = item.Name;
        CurrentValue = item;

        if (name.Length <= 1)
        {
            messageStore.Add(FieldIdentifier, "O nome informado é inválido.");
        }

        EditContext.NotifyFieldChanged(FieldIdentifier);
        EditContext.NotifyValidationStateChanged();
    }

    public void Dispose()
    {
        DebCtsDispose();

        // Importante! Evita execução no pre-render!!!!
        if (!RendererInfo.IsInteractive)
            return;

        Logger.LogInformation("Debounce Disposed!");
    }

    private void DebCtsDispose()
    {
        debCts?.Cancel();
        debCts?.Dispose();
        debCts = null;
    }
    private void OpenPopup(MouseEventArgs args)
    {
        ClearName();
        show = true;
    }
}